*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1iX6UHy4kYUIBP880plhCQ65sZs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+_14fRfUUq_Xox_XopXKMNiRF7o=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2BRhR5K9BYEq5JM4luPMja4cAyU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2MeX27y9IUkeOOVblJqtNYjJ2zk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3dQu1KE3F9RUo9bge7kwm0E2Jwk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3JJiVewSITUJvZsfC63SsMBodsg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4Nv472YSKlCQGs8Okiqjq+H0ZrM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4oA5FkDvN0eyHN21Rzwph8UVF+s=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4obg4QH1dIdqJOBFVbTFAjD9_us=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4SjcgFR1gTKB69Gjw4_E_swSkyM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7niexzudmj5dCT+jnzaCSOQY5h0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7TDuE4JUa6Roh4r8yvjF2VghzsU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8bvG5PR__k2BlbU99xb9JowVqH0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8WETdOC7qu6svIfhcj6bJev9C_Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9Gdypq6A_1nS_O_RXEf5xDFv6Fo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9hJRVc+eVNrBoKblM4mxW3bvnSE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9JXUrLTqQmZkMPzJck7vwoM5RQ0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9Tuh9_BLYwM_pZokfi09eOOzzxA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/34xxUSg8JhjHLUW0myWc1gFHusg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/35GjfulzvM07UA8G06yIZj70jqI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/77SVrtJMJzzNmdCNPcozq70FV2w=
/app/build/intermediates/project_dex_archive/debug/out/4348f9420c31ba432e45f99fc9a9fe88ba76676f71e4ad463c5f4e7b86032a97_0.jar
/app/build/intermediates/project_dex_archive/debug/out/4348f9420c31ba432e45f99fc9a9fe88ba76676f71e4ad463c5f4e7b86032a97_1.jar
/app/build/intermediates/project_dex_archive/debug/out/4348f9420c31ba432e45f99fc9a9fe88ba76676f71e4ad463c5f4e7b86032a97_2.jar
/app/build/intermediates/project_dex_archive/debug/out/4348f9420c31ba432e45f99fc9a9fe88ba76676f71e4ad463c5f4e7b86032a97_3.jar
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_bW7lO4yApjhl+m0EisCeOe+OnE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_CaUuT_rt+v9BjTN0Tr+2qot6+8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_DQkNWR+HIZy0PZuu7Sww3RVae4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/a4AK6X7UFyMJ75nG5OtvGzYZV9Y=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ABH4DO2rcRqVOe8H5RTzhqEephI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AqGs9kloKXOnK5jq0zqdOPIzyTo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AQxFR0Kl9e87EoGqwtHvjeT5E0M=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/B1V7VtU+bZ1aLWrHuwKggT7oCCI=
/app/build/intermediates/project_dex_archive/debug/out/com/platovco/vtb/models/BankomatMark.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bqtomDjuwVtwfA0xYZBuHvg78YQ=
/app/build/intermediates/project_dex_archive/debug/out/com/platovco/vtb/models/BranchMark.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bULzkUJ+RPOnISTwPUWlH4p+Oxw=
/app/build/intermediates/packaged_res/debug/drawable/button_background.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bZ0jmZuV9RotR2NtepK0YhX6oVI=
/app/build/intermediates/dex/debug/mergeProjectDexDebug/12/classes.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/co9EktI6T+GgmhTayVxdCNDPvws=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/CV29WbvaMYBoCnHwwQmm0zcuEdQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/CVc8+DBTqWi4aXkG2JQ2KRcJgFc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/D3RUrIUovczpTX7TOvrEHoHvKsw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/d5cew6FgnHYCqcSLfec+I+6ZBms=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DAJaeGv_n9wdzpc30cFz+ecch8I=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dFNQdcumJO8xKC0BsTRRMqHCyyA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DlIba60uubxeppuBY9caRojd_D8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dqt8qN9fLaVY4XM_C1fbNhnS7q0=
/app/build/intermediates/merged_res/debug/drawable_button_background.xml.flat
/app/build/intermediates/merged_res/debug/drawable_map_pin.png.flat
/app/build/intermediates/merged_res/debug/drawable_user_location_icon.png.flat
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/E1W7FADehcDslwEkudSuElGNMeE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eFf1fv++PDLM6TNnwJvaPPnYeQQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EiberHzrCzUgtk7hGB6ChrM28Ws=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EItlA6r0WNFC2ztyEwGYqTF0chY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EUcgsEo7LM8fPiBL1iIDXzIcDkg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eypexviygQgpQyBHGKGuuHG2mIs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fcos4gn5xtl56Zo_f66XB4iGYRA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FkNap0hSlZWFrSO1hwZMHOrwxBk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fM5lPQ7SLvHKPvYS9l69+bBCJEM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fOqWaZEfoWUdyKj86zmgGVs6VEQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FQ0IarILlM5hU0hXZr6otUx9bxo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/g4fxOcmHHS6d6BJXu0jXyiFVcno=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/GBXyQw3Xnm3kQ6lXIbHwY0Es500=
/app/build/intermediates/project_dex_archive/debug/out/com/platovco/vtb/providers/GoogleFusedLocationProvider.dex
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_dc6e5af21e3617c9b1a3a28c41fd4b9263d456accd7b734c4585e5bc3c71e488_bucket_0/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_dc6e5af21e3617c9b1a3a28c41fd4b9263d456accd7b734c4585e5bc3c71e488_bucket_1/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_dc6e5af21e3617c9b1a3a28c41fd4b9263d456accd7b734c4585e5bc3c71e488_bucket_2/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/jar_dc6e5af21e3617c9b1a3a28c41fd4b9263d456accd7b734c4585e5bc3c71e488_bucket_3/graph.bin
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gZhrzLTkTJ3kHhxj9a9qDemPN4E=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/h9qDq2XKy3fKxHmi7OpHrZrZ4GM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/H_aDjFdUwOBKxV6+ObAVSMqjE00=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/h_O0afts+nd88e8OtOw25rVsmKc=
/.idea/highlightedFiles.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HIuIUklwCmscuV1uLePySz3q234=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HWTY_3dxild2t30qqCSlLpGuAto=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hZEIwiQ_rUw_qcBshubFKM35JAk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IGo7UbBgkQ0QlfXoFCx8kmFVwQg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/imXQdT1AachT+CrTbrDeR7XKsUE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IS_wEoIU729YgNO9SbjDGpoBH94=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/iv2GSt18KtcBpTVtqQashCXfBro=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/iV5R7Z7q6JcqEDcJe1FYl0gWZoI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JbXt+bx3vikanvknyWnfbKleApc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JpUvVi0WoG4NBQTkYetS0_eacBs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JrS72ZnoLTlR7M2yOcNonUTWKZY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kJ0c8nlH+3ejtIfLGD0iAjK5hsQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KSI4lk3i27s5i9h3uv_8bdOSeDg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/L0YIo4qwAd3R+PYPAKlPkGs02_I=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/La25_7FQfI+AYMeVMeBPE3H0ZpM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ldTOAbaEaUmuCy7BrYi5qXPG2mQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lIR9Qodrqqp05TdUxibvQKH2+Xg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LV1xgJqMf7wr5VYB5HF3AVbpmsY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Lvx6y+jHcnHUNiu54zRYCR1T91Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lX1J_r7bQ6lNTuPR8v3CZKFuvLw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Lx2EHN_RayOTscYm6uzU0Ze6Dmc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LXPLkCWzWVpKbrpWM3EdmrsXghQ=
/app/build/intermediates/packaged_res/debug/drawable/map_pin.png
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MapFragment$1.class.uniqueId2
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MapFragment$2.class.uniqueId0
/app/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MapFragment.class.uniqueId1
/app/build/intermediates/project_dex_archive/debug/out/com/platovco/vtb/models/Mark.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MnicoqUmV7kTl6hdazagWh+T+Ow=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MZA3hvbeuPYqXvbhp+LWMyYqjxo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NKWJ_am3x2EIFE77QKonj9bvUc8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/O4v1crXHvGX_Roe4pD9x_HwzRFE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/P1zAwxrbbB1lrSaDl_FUNL_8pYo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pGkdJx29NLUxXzH89y98Tg_7t0k=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PtusZ6YIGq9lNsAeD9s1Ktgl8RE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PVhFwc2M9XNBB39hk_KkYOT9l38=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PwKj4uIVN28M90ioa02yEejGmpw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Q9CykuV+FPj8yTJSGeftHhwsKMo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Q203Cl23iHHRDFETKS+35BTUL_I=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Qb23B+j0dFXzN5qAItonjW1gmoA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qC86u+pSmwlj5XM4YMq8b4WYmwg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qia9_nmfhYaeIEL0_e1FGuiZgsc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QLLDbJhHWoWa+UX0qoSzUGDEDuU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QOWEe2D0_sy9ZcoGQRRz_UzIZ8I=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/R+zPenEFt5ZCmQaHo47SP7iDRw8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RbveHI7tX4u96xtOy2RVjcvRf6M=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Rq4MBRXyinsO_ge3iBor_+X1Yq8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/S1K1CmFn6fwGwW6FLzJViHM8_Ns=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/S2Yc2qh1YbqEagSeu4wXl62eDX4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/sO5NwNIW4Dy_EjJFO3n0ZNDk+EQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/sweUZbvxHiukEmhKVmFecD42BSE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/T8R2stQ94KJoqKtT1e5sg+bvQps=
/app/build/intermediates/project_dex_archive/debug/out/com/platovco/vtb/providers/TextImageProvider.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TgYWG0ulPcjfhRjHwtGGqiX_MRM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/u3mJZebwOUlnwCfIgCvtisIIWv0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/u9dYl7+Py6z29Y+X4xYfn+yiey8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ubai+gcFpefr2u2qASVsi+vt6DA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ueoPDSOFi6aL4ZiH6zL3NNDmT4U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UMTeoOCsGyCBDstWJ68r01Hdc9U=
/app/build/intermediates/packaged_res/debug/drawable/user_location_icon.png
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Uy7_vYcL1ji_Lpq2vtALNX0ylz0=
/app/build/generated/res/google-services/debug/values/values.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values/values.xml
/app/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-af/values-af.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-am/values-am.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ar/values-ar.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-as/values-as.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-az/values-az.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+es+419/values-b+es+419.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+jv+Latn/values-b+jv+Latn.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+my+Qaag/values-b+my+Qaag.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-be/values-be.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bg/values-bg.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bn/values-bn.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bo-rCN/values-bo-rCN.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bs/values-bs.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ca/values-ca.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-cs/values-cs.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-da/values-da.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-de/values-de.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-el/values-el.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es/values-es.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-et/values-et.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fa/values-fa.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fi/values-fi.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr/values-fr.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gl/values-gl.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gu/values-gu.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h320dp-port-v13/values-h320dp-port-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h360dp-land-v13/values-h360dp-land-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h480dp-land-v13/values-h480dp-land-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h550dp-port-v13/values-h550dp-port-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hi/values-hi.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hr/values-hr.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hu/values-hu.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hy/values-hy.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-in/values-in.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-is/values-is.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-it/values-it.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-iw/values-iw.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ja/values-ja.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ka/values-ka.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kk/values-kk.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-km/values-km.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kn/values-kn.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ko/values-ko.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ky/values-ky.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-land/values-land.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ldrtl-v17/values-ldrtl-v17.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lo/values-lo.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lt/values-lt.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lv/values-lv.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mai/values-mai.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mi/values-mi.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mk/values-mk.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ml/values-ml.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mn/values-mn.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mr/values-mr.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ms/values-ms.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-my/values-my.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-my-rZG/values-my-rZG.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nb/values-nb.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ne/values-ne.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
/app/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values-night-v8/values-night-v8.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-night-v29/values-night-v29.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nl/values-nl.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-or/values-or.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pa/values-pa.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pl/values-pl.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-port/values-port.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt/values-pt.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ro/values-ro.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ru/values-ru.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-si/values-si.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sk/values-sk.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sl/values-sl.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-small-v4/values-small-v4.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sq/values-sq.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sr/values-sr.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sv/values-sv.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ta/values-ta.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-te/values-te.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-th/values-th.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tl/values-tl.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tr/values-tr.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ug/values-ug.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uk/values-uk.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ur/values-ur.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uz/values-uz.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v16/values-v16.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v17/values-v17.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v18/values-v18.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v21/values-v21.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v22/values-v22.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v23/values-v23.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v24/values-v24.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v25/values-v25.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v26/values-v26.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v28/values-v28.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v31/values-v31.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-vi/values-vi.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w320dp-land-v13/values-w320dp-land-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w360dp-port-v13/values-w360dp-port-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w480dp-port-v13/values-w480dp-port-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-w600dp-land-v13/values-w600dp-land-v13.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v20/values-watch-v20.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v21/values-watch-v21.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zu/values-zu.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Vew2Aqg8ZireiCfAA8rWZr38Kjo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vlcwnqGCTBB4_KJd+1ETohr+kXI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VuLYa55PaodZXqv2vHa_ZeIIRiU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vVScqmQI7AX3jxgVgrNDRuQDfH8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/w2OckqU7svICQlG_LgRxCkCr4GM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/w8EJrTO8ksXhxtulhDODKH4xfgg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WmFPEO94+JbkFYVtYmDs_vaJ2fg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wNGfmchDEPZmjnEQu2VIcFNK6M4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wPO0Yj7Gfk5tzNAFE82umYavNZs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wr21841BpJdGosGYxhB2JcjbH8c=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/x9m21kTmY2OQdwSxqhJ+qq_s+B8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xC3tyJSCXEaoX+36ts88d_Gzeas=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xDsV7xgydWaxqk7DL_MLuP_8yuY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Xf_nrEeSZCgXMUZLu_Z8FevHhfk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xGnsxsK_J234qStHf+e1alUTfAc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xkXZlcBwc+L4M4dWT193uArApOw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xw261X2Sc9JQJVuvuTQjs7sofDE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XwT15uZRluou80xrSamlJj8dz_w=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y_jCnwpeGbPNzPGoaqy+SbqUPdk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yFaztfECDMRYJDg9RmGszNS6sSI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YPl_I5Qj1KTFYmqcok1ZR2MqpAw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YRb4iYhMu03C0lUZJlsDjuZekOk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zAP5+I16iy2gOAm3hEQhFV3wGkU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zg+WNoC2H1Uj6r6isqu3RVR7png=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zr8mqDRj4FAgQ_XEWT3ur6mElBo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zs07Cb4cCgYS0HUtYcsDoGbYrSg=
